
 #resetButton {
    height: 3rem;
    width: 6rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    background-color: whitesmoke;
  }
  .title{
    text-align: center;
    font-size: 3rem;
  }

  .container{
    width: 95vw;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    }
    .inner-container{
        width: 500px;
        background-color:black;
        height: 500px;
        margin: 10px;
    }
    .inner-container h2{
        color: whitesmoke;
        text-align: center;
        font-size: 1.5em;
    }
  
  .drag-container {
    min-height: 300px;
    padding: 10px;
  }
  
  .draggable-item {
    width: 80%;
    height: 1rem;
    background-color: whitesmoke;
    font-size: 1.5rem;
    padding: 2rem;
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .draggable-item.dragging {
    opacity: 0.5;
  }
  
  
  